body,html{
   margin: 0;
   padding: 0;     
}
body{
    position: relative;
    overflow: hidden;
}
h1{
    margin: 0;
    padding: 0;
}
#myDiv{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: darkslategray;
   /* transition: .3s ease all;*/
}
.hide{
    display: none;
}
.show{
    display: block;
}
header{
    height: 100px;
    background-color: lightgray;    
}
.text-center{
    text-align: center;
    line-height: 100px;
}
.container{
    width: 95%;
    height: 100vh;
    margin: 0 auto;
}
.d-flex{
    display: flex;    
}
.left{
    width: 20%;
    height: 100%;
    border: 1px solid red;  
    padding: 5px; 
    overflow: auto;
}
.right{
    width: 80%;
    height: 100%;
    border: 1px solid  darkmagenta;
}

.cam{
    width: 80%;
    height: 150px;
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod; 
    margin: 10px auto;
}